.scheduleContent{
		white-space: nowrap;
}


.gmap{
	display: inline-block;
	vertical-align:top;
}

.ClientInfo{
	display: inline-block;
	margin-left: 20px;
	overflow-x:hidden;
	
}
.ClientList{
    height:410px;
    width: 345px;
    /* background-color:#CCC; */        
    overflow-y:scroll;
    float:right;
    vertical-align:top;
}

.cNum {
	font-weight: bold;
}

.cDesc{
	font-weight: normal;
}
